# Dependencies
node_modules/

# Environment Variables
.env
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Security
Config/serviceAccountKey.json
serviceAccountKey.json

# IDE / System
.vscode/
.idea/
.DS_Store
dist/
build/
coverage/
